# Ignorar archivos
__pycache__/

# Ignorar entornos virtuales
venv/
env/

# Ignorar archivos de configuración de editores
.vscode/
.idea/

# Ignorar archivos de sistema de macOS
.DS_Store

# Ignorar bases de datos
*.db
*.sqlite
*.sqlite3
bases_de_datos/*.db
bases_de_datos/*.sqlite
bases_de_datos/*.sqlite3

tempCodeRunnerFile.py

